<%= form_with(model: rsa, local: true) do |form| %>
  <% if rsa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rsa.errors.count, "error") %> prohibited this rsa from being saved:</h2>

      <ul>
      <% rsa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :n %>
    <%= form.text_area :n, value: @n.to_s, id: :rsa_n %>
  </div>

  <div class="field">
    <%= form.label :e %>
    <%= form.text_area :e, value: @e.to_s, id: :rsa_e %>
  </div>

  <div class="field">
    <%= form.label :d %>
    <%= form.text_area :d, value: @d.to_s, id: :rsa_d %>
  </div>

  <div class="actions">
    <%= form.submit 'Save key'%>
  </div>
 
<% end %>
