<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @rsa.id.to_s %>
</p>

<p>
  <strong>N:</strong>
  <%= @rsa.n %>
</p>

<p>
  <strong>E:</strong>
  <%= @rsa.e %>
</p>

<p>
  <strong>D:</strong>
  <%= @rsa.d %>
</p>

<%= link_to 'Back', rsas_path %>
